:root {
  --custom-orange: #DEAA5A;
  --custom-ivory: #EFEDE8;
  --custom-dark: #30353A;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background-image: url('./images/background.png');
  background-repeat: repeat;
  background-attachment: fixed;
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea {
  resize: none;
  scrollbar-width: thin;
}

textarea::-webkit-scrollbar {
  width: 3px; /* スクロールバーの幅 */
}

textarea::-webkit-scrollbar-track {
  background: #EFEDE8; /* トラックの背景色 */
}

textarea::-webkit-scrollbar-thumb {
  background: #888; /* スクロールバーの色 */
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #555; /* ホバー時のスクロールバーの色 */
}

 /* checkboxのリセット */
input[type="checkbox"] {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media (max-width: 768px) {
  /* body {
    background-size: cover;
    background-repeat: no-repeat;
  } */
}
