:root {
  --custom-orange: #DFB068;
  --custom-ivory: #EFEDE8;
  --custom-dark: #30353A;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background-image: url('./images/background.png');
  background-repeat: repeat;
  background-attachment: fixed;
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 768px) {
  body {
    background-size: cover;
    background-repeat: no-repeat;
  }
}
